{
  "openapi": "3.0.0",
  "info": {
    "title": "Therapy App API",
    "version": "1.0.0",
    "description": "API for managing clients, therapists, sessions, and journals during therapy."
  },
  "servers": [
    {
      "url": "https://api.therapyapp.com/v1"
    }
  ],
  "paths": {
    "/clients": {
      "post": {
        "summary": "Create a new client",
        "operationId": "createClient",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Client"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Client created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List all clients",
        "operationId": "listClients",
        "responses": {
          "200": {
            "description": "List of clients",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClientResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/clients/{clientId}": {
      "get": {
        "summary": "Get a client's details",
        "operationId": "getClient",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Client details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a client's details",
        "operationId": "updateClient",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Client"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Client updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a client",
        "operationId": "deleteClient",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Client deleted successfully"
          }
        }
      }
    },
    "/clients/{clientId}/journals": {
      "post": {
        "summary": "Add an emotion journal entry",
        "operationId": "addJournal",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Journal"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Journal entry added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JournalResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get a client's emotion journals",
        "operationId": "getJournals",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of journals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JournalResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/therapists": {
      "post": {
        "summary": "Create a new therapist",
        "operationId": "createTherapist",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Therapist"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Therapist created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TherapistResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List all therapists",
        "operationId": "listTherapists",
        "responses": {
          "200": {
            "description": "List of therapists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TherapistResponse"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Client": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "ClientResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "Therapist": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "TherapistResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "Journal": {
        "type": "object",
        "properties": {
          "emotion": {
            "type": "string"
          },
          "intensity": {
            "type": "integer"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "JournalResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "emotion": {
            "type": "string"
          },
          "intensity": {
            "type": "integer"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  }
}